body {
    font-family: 'Gulim', '굴림', 'MS Sans Serif', Arial, sans-serif;
}


input{
    font-family: "굴림", "Gulim", sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
    background-color: #d4d0c8;
    box-shadow: inset 1px 1px 0px #404040, inset -1px -1px 0px #ffffff;
    border-top-color: #404040;
    border-left-color: #404040;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    /* width: 100%; /* 버튼을 컨테이너의 너비에 맞게 설정 */
    box-sizing: border-box; /* 패딩과 테두리를 너비에 포함시킴 */
}

button {
    font-family: "굴림", "Gulim", sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
    background-color: #d4d0c8;
    border: 2px solid #404040;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-radius: 0;
    cursor: pointer;
    box-shadow: inset 1px 1px 0px #ffffff, inset -1px -1px 0px #404040;
    transition: background-color 0.1s, box-shadow 0.1s;
    /* width: 100%; /* 버튼을 컨테이너의 너비에 맞게 설정 */
    box-sizing: border-box; /* 패딩과 테두리를 너비에 포함시킴 */
  }

  button:hover {
    background-color: #c4c0b8;
  }

  button:active {
    background-color: #b4b0a8;
    box-shadow: inset 1px 1px 0px #404040, inset -1px -1px 0px #ffffff;
    border-top-color: #404040;
    border-left-color: #404040;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
  }

#message {
    color: red;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

a {
    color: #0000ff; /* 링크 색상을 파란색으로 설정 */
    text-decoration: none; /* 링크의 밑줄 제거 */
}

a:hover {
    text-decoration: underline; /* 마우스 오버 시 밑줄 추가 */
}
